.DS_Store
.idea
*.txt
/bin
/generated
/cover.out
/cover.out.tmp
.env
old_project
README.md
.golangci.yaml
/docs/spec
node_modules
dist
pkg/generated
*.yaml
!easyp.yaml
*.yml
!.github/
!.github/workflows/
!.github/workflows/*.yaml
!.github/workflows/*.yml
*Dockerfile
!Taskfile.yml
!ci.yaml
mocks
integration-tests
!integration-tests/go.mod
!integration-tests/go.sum
!integration-tests/.gitignore
!sqlc.yaml
